@import "tailwindcss";

:root {
  --dark: #111;
  --light: #fff;
}

@theme {
  --font-archivo: var(--font-archivo);
  --color-dark: #111;
  --color-light: #fff;
}

body {
  font-family: Archivo, sans-serif;
  background: var(--dark);
  color: var(--light);
}
