@import "tailwindcss";

:root {
  --dark: #010101;
  --light: #fff;
  --dark-light: #1a1e23;
}

@theme {
  --font-archivo: var(--font-archivo);
  --font-inter: var(--font-inter);
  --color-dark: #010101;
  --color-dark-light: #1a1e23;
  --color-light: #fff;
}

body {
  font-family: Raleway, sans-serif;
  background: var(--dark);
  color: var(--light);
}
